In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

train.shape, test.shape

((2266586, 6), (260114, 6))

In [2]:
test[test['KnowledgeTag'] == 7863]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
5834,45,A080037007,A080000037,1,2020-05-13 03:56:42,7863
8041,58,A070139007,A070000139,0,2020-11-20 03:30:42,7863
8069,58,A070149003,A070000149,0,2020-12-10 05:17:12,7863
8070,58,A070149004,A070000149,0,2020-12-10 05:17:13,7863
8074,58,A070149008,A070000149,0,2020-12-10 05:17:26,7863
...,...,...,...,...,...,...
255913,6173,A070149004,A070000149,1,2020-12-17 02:54:53,7863
255917,6173,A070149008,A070000149,1,2020-12-17 03:00:31,7863
255924,6173,A070151007,A070000151,0,2020-12-22 07:42:39,7863
257141,6436,A070153005,A070000153,0,2020-12-11 04:30:41,7863
258177,6732,A070154005,A070000154,1,2020-12-16 07:45:00,7863

In [2]:
train_user = train['userID'].unique()
test_user = test['userID'].unique()
train_paper = train['testId'].unique()
test_paper = test['testId'].unique()
train_tag = train['KnowledgeTag'].unique()
test_tag = test['KnowledgeTag'].unique()

In [3]:
len(train_user), len(test_user), len(train_paper), len(test_paper), len(train_tag), len(test_tag)

(6698, 744, 1537, 1537, 912, 912)

In [6]:
len(set(test_user) - set(train_user)), len(set(test_paper) - set(train_paper)), len(set(test_tag) - set(train_tag))

(744, 0, 0)

In [8]:
cold_start = set(test_user) - set(train_user)
cnt = 0

for i in range(len(test)):
    if test.iloc[i, 0] in cold_start:
        cnt += 1
print(cnt)

260114

In [30]:
con1 = (test['userID'] == 3)
con2 = (test['answerCode'] == -1)
test[con1 & con2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289

In [32]:
test[con1].tail(20)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1016,3,A050132001,A050000132,1,2020-10-22 07:11:19,425
1017,3,A050132002,A050000132,1,2020-10-22 07:12:41,425
1018,3,A050132003,A050000132,1,2020-10-22 07:13:51,425
1019,3,A050132004,A050000132,1,2020-10-22 07:15:24,425
1020,3,A050132005,A050000132,1,2020-10-22 07:22:30,425
1021,3,A050132006,A050000132,1,2020-10-22 07:25:28,425
1022,3,A050132007,A050000132,0,2020-10-22 07:27:15,5300
1023,3,A050147001,A050000147,0,2020-10-25 09:16:11,434
1024,3,A050147002,A050000147,0,2020-10-25 09:17:32,5311
1025,3,A050147003,A050000147,1,2020-10-25 09:17:46,5311
1026,3,A050147004,A050000147,1,2020-10-25 09:17:55,5311
1027,3,A050147005,A050000147,0,2020-10-25 09:18:08,435
1028,3,A050133001,A050000133,1,2020-10-26 13:08:41,5288
1029,3,A050133002,A050000133,1,2020-10-26 13:09:28,5288
1030,3,A050133003,A050000133,1,2020-10-26 13:10:22,5289
1031,3,A050133004,A050000133,1,2020-10-26 13:12:11,5289
1032,3,A050133005,A050000133,1,2020-10-26 13:12:36,5288
1033,3,A050133006,A050000133,1,2020-10-26 13:12:52,5288
1034,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289

In [31]:
test[con2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1035,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289
1706,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080
3023,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660
4283,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611
4670,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422
...,...,...,...,...,...,...
260052,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615
260067,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636
260082,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402
260097,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832